.obsidian/workspace.json
.obsidian/community-plugins.json
.obsidian/workspace.json
.obsidian/plugins/canvas-mindmap/data.json
.obsidian/plugins/canvas-mindmap/main.js
.obsidian/plugins/canvas-mindmap/manifest.json
.obsidian/plugins/canvas-mindmap/styles.css
.obsidian/plugins/obsidian-mind-map/main.js
.obsidian/plugins/obsidian-mind-map/manifest.json
.obsidian/workspace.json
